body{
	padding: 0px;
	margin: 0px;
	position: relative;
	background-image: url("../images/default.jpg");
	font-family: 'Arial', sans-serif;
}

header {
	height: 70px;
	background-color: black;/*rgb(66, 238, 244);*/
	font: x-large sans-serif;
	text-align: left;
	text-indent: 20px;

}

header a {
	cursor: pointer;
}

header img, #profileImage {
	margin-right: 10%;
}

header #search_bar {
	
	margin-right: 5%;
}

header #search_bar input {
	width: 25%;
}

header #logout{
	float: right;	
    margin-right: 1%;
    margin-top: 1%;
}

header .dropdown{
	float: right;	
    margin-right: 1%;
    margin-top: 1%;
}

header img{

	width: 12%;
	
}

#advanced_search {
	background-color: black;
	padding: 0.5%;
	height: 15%;
	color: white;
	font-weight: bold;
}

#advanced_search input{
	color: black;
}

#resource_search {
	padding: 0.5%;
	height: 15%;
	margin-bottom: -10;
	font-weight: bold;
}

#sign_in {
	position: fixed;
	padding: 25px;
	background-color: rgb(194, 252, 244);
	border-radius: 20px;
	width: 14%;
	height: 35%;
	top: 35%;
	left: 43%;
}

#user_register {
	position: fixed;
	padding: 25px;
	background-color: white;
	border-radius: 20px;
	width: 13%;
	height: 40%;
	top: 23%;
	left: 43%;
}

#profile_register {
	position: fixed;
	padding: 25px;
	background-color: white;
	border-radius: 20px;
	width: 13%;
	height: 40%;
	top: 23%;
	left: 43%;
}


.content_block {
	overflow: auto;
	position: relative;
	padding: 25px;
	background-color: white;
	border-radius: 20px;
	width: 90%;	
	margin: 5%;
	top: -1%;
	min-height: 80%;
}

img.tutor {
	height: 210px;
    width: 220px;
}

.note_block {
	position: relative;
    padding: 25px;
    background-color: white;
    border-radius: 20px;
    width: 20%;
    margin: 5%;
    top: 18%;
    left: 33%;
    height: 40%;
}

/*dropdown content from w3schools*/
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 170px;
    left: -150%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 15px;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.usermessage  {	
	float: right;
	text-align: right;

}


.contactmessage {
	float: left;
	text-align: left;
	
}


#messageInput {
	
	display: inline;
	size: 100;

}

#messageForm {
	position: absolute;
	bottom: 0;
	width: 90%;
	margin-left: 2%;
	margin-right: 10%;
	margin-bottom: 2%;
}


/*images*/
.tutorImage {

}

#profileImageHeader{
	background-image: url('https://ak2.picdn.net/shutterstock/videos/12539882/thumb/1.jpg?i10c=img.resize(width:200)'); 
	width: 95%;  
	height: 23%; 
	background-repeat: no-repeat;
	background-size: cover; margin: auto; filter: opacity(70%);
}

#profileImageIndex {

	width: 20%; 
	height: 25%; 
	background-repeat: no-repeat; 
	background-size: contain; 
	position: absolute; 
	left:  40%; 
	top: 10%; 
	border: 7px solid white; 
	background-color: white; 
	background-position:  center; 
	filter: none;
}

#profileImageEdit {
	
	width: 16%; 
	
	
}

/*Calendar styles*/
.container {

}
.container td {
	width: 50px;
}

.container .today {
	background-color: orange;
}

.ts_dot {
	height: 10px;
    width: 10px;
    background-color: lightblue;
    border-radius: 50%;
    display: inline-block;
    margin: 2px;
}

.us_dot {
	height: 10px;
    width: 10px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
    margin: 2px;
}

#sessions_list {
	width: 20%;
	float: right;
}

.container{
	float: left;
}