body{
	padding: 0px;
	margin: 0px;
	position: relative;
	background-image: url("../images/default.jpg");
	font-family: 'Arial', sans-serif;
}

header {
	height: 70px;
	background-color: black;/*rgb(66, 238, 244);*/
	font: x-large sans-serif;
	text-align: left;
	text-indent: 20px;

}

header img {
	cursor: pointer;
}

header #logout{
	float: right;	
    margin-right: 1%;
    margin-top: 1%;
}

header img{

	width: 12%;
	
}


#sign_in {
	position: fixed;
	padding: 25px;
	background-color: rgb(194, 252, 244);
	border-radius: 20px;
	width: 14%;
	height: 35%;
	top: 35%;
	left: 43%;
}

#register {
	position: fixed;
	padding: 25px;
	background-color: white;
	border-radius: 20px;
	width: 13%;
	height: 40%;
	top: 23%;
	left: 43%;
}


.content_block {
	position: fixed;
	padding: 25px;
	background-color: white;
	border-radius: 20px;
	width: 90%;
	height: 90%;
	
	margin: 5%;
	top: -1%;
}


